<p id="lg">
	<%=image_tag ("i-click.png")%>
</p>
<div id="fm">
	<form name="f" action="/s">
		<span class="s_ipt_wr">
			<input type="text" name="wd" id="kw" maxlength="100" class="s_ipt">
		</span>
		<span class="s_btn_wr">
			<input type="submit" value="CC一下" id="su" class="s_btn" onmousedown="this.className='s_btn s_btn_h'" onmouseout="this.className='s_btn'">
		</span>
	</form>
</div>